<h1>Usuários</h1>
<hr>

<% @users.each do |user| %>
	<div class="row">
		<div class="col-sm">
			<%= user.username %>
		</div>
		<div class="col-sm">
			<%= button_to 'Excluir', user, 
				method: :delete,
				class: "btn btn-danger float-right",
				data: { confirm: 'Você tem certeza?' } %>
		</div>
	</div>

	<hr>
<% end %>

<%= link_to "Novo usuário", new_user_path, class: "btn btn-primary" %>