<h1>Minhas hastags:</h1>

<br>

<% if @current_user.hashtags.count > 0 %>

<% @current_user.hashtags.each do |hashtag| %>

<div class="row">
	<div class="col-sm"><%= hashtag.value %></div>
	<div class="col-sm">
		<%= link_to 'Exibir tweets', user_hashtag_path(@current_user, hashtag), class: "btn" %>
	</div>
	<div class="col-sm">
		<div class="float-right">
			<%= button_to 'Remover Hashtag', [@current_user, hashtag], 
				method: :delete,
				data: { confirm: 'Você tem certeza?' },
				class: "btn btn-danger" %>
		</div>
	</div>
</div>

<hr>

<% end %>


<% else %>

<p>Não há hashtags cadastradas!</p>

<% end %>

<%= render 'hashtags/form' %>

</div>