<h1>Minhas hastags:</h1>

<% if @user.hashtags.count > 0 %>

<table>

<% @user.hashtags.each do |hashtag| %>

<tr>
	<td><%= hashtag.value %></td>
	<td><%= button_to 'Remover Hashtag', [@user, hashtag], 
		method: :delete,
		data: { confirm: 'Are you sure?' } %></td>
</tr>

<% end %>

</table>

<% else %>

<p>Não há hashtags cadastradas!</p>

<% end %>

<%= render 'hashtags/form' %>