<br>

<h2>Mensagens da Hashtag: <b> #<%= @hashtag.value %> </b></h1>

<br>	

<table class="table">

<tr>
	<th>Usuario</th>
	<th>Mensagem</th>
	<th>Data</th>
</tr>

<% @hashtag.messages.each do |message| %>

<tr>
	<td>@<%= message.author %></td>
	<td><%= message.body %></td>
	<td><%= message.publication_date.to_s(:db) %></td>
</tr>

<% end %>

</table>